.messageWrapper {
  position: fixed;
  top: 35px;
  pointer-events: none;
  animation: fade-in 100ms linear;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.messageFadingOut {
  opacity: 0;
  transition: opacity 300ms;
}
